[Unit]
Description=IPOP-VPN service

[Service]
Type=oneshot
ExecStart=/opt/ipop-vpn/ipop-systemd start
RemainAfterExit=true
ExecStop=/opt/ipop-vpn/ipop-systemd stop
Restart=no

[Install]
WantedBy=multi-user.target

